
<ion-content class="ion-padding">
  <app-vote-main-info></app-vote-main-info>

  <ion-segment mode="ios" value="vote">
    <ion-segment-button value="info" contentId="info">
      <ion-label> Info </ion-label>
    </ion-segment-button>
    <ion-segment-button value="vote" contentId="vote">
      <ion-label> Vote </ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-segment-view mode="ios">
    <ion-segment-content id="info">
      <div class="segment-content">
        event info features
      </div>
    </ion-segment-content>
    <ion-segment-content id="vote">
      <div class="segment-content">
        <app-vote-calendar></app-vote-calendar>
      </div>
    </ion-segment-content>
  </ion-segment-view>
</ion-content>
