
<ion-content class="ion-padding">
  <app-event-main-info></app-event-main-info>

  <ion-segment mode="ios" value="info">
    <ion-segment-button value="info" contentId="info">
      <ion-label> {{ VotePageLocalize.Results | localize }} </ion-label>
    </ion-segment-button>
    <ion-segment-button value="vote" contentId="vote">
      <ion-label> {{ VotePageLocalize.Vote | localize }} </ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-segment-view mode="ios">
    <ion-segment-content id="info">
      <div class="segment-view-content">
        <app-result-filters #filters/>
        <app-result-view-picker-control #viewPicker/>
        <app-result-view-picker-container
          [viewPick]="viewPicker.value()"
          appResultView
          [min]="filters.membersCount()"
          [maybe]="filters.maybe()"
          [time]="filters.time()"
          [trimPast]="filters.trimPast()"
        >
          @switch (viewPicker.value()) {
            @case (ViewPick.List) { <app-result-view-list/> }
            @case (ViewPick.Calendar) { <app-result-view-calendar/> }
          }
        </app-result-view-picker-container>
      </div>
    </ion-segment-content>
    <ion-segment-content id="vote">
      <div class="segment-view-content">
        <app-vote-calendar/>
      </div>
    </ion-segment-content>
  </ion-segment-view>
</ion-content>
