
  <ion-accordion-group mode="ios">
    <ion-accordion value="info">
      <ion-item slot="header" class="header-item">
        <ion-avatar slot="start">
          <img alt="t" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label> When to drink beer event </ion-label>
      </ion-item>

      <ion-list slot="content" mode="ios">
        <ion-item>
          <ion-label> Created by </ion-label>
          <ion-note> Vyacheslav Litvinenko </ion-note>
        </ion-item>
        <ion-item>
          <ion-label> Starts</ion-label>
          <ion-note> {{ now | date : 'dd.mm.yyyy'}} </ion-note>
        </ion-item>
        <ion-item>
          <ion-label> Ends </ion-label>
          <ion-note> {{ now | date : 'dd.mm.yyyy'}} </ion-note>
        </ion-item>
        <ion-item class="notes-item" lines="none">
          <ion-label> Notes </ion-label>
          <ion-note>
            Join us for a fun evening of cold beers, great chats, and good vibes at pub.
            Let's unwind, laugh, and enjoy the night together!
          </ion-note>
        </ion-item>
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>

