<div class="vote-calendar">
  <div class="vote-calendar-header">
    <div class="chips">
      <ion-chip color="primary" class="ion-activated">
        <ion-icon name="checkmark-outline"></ion-icon>
        <ion-label> Ready </ion-label>
      </ion-chip>
      <ion-chip color="warning" class="ion-activated">
        <ion-icon name="help-outline"></ion-icon>
        <ion-label> Maybe </ion-label>
      </ion-chip>
      <ion-chip color="success" class="ion-activated">
        <ion-icon name="time-outline"></ion-icon>
        <ion-label> Time </ion-label>
      </ion-chip>
    </div>
     <span class="subtitle">
      Hold date to specify date options <br>
      Don't forget to save changes
    </span>
  </div>

  <ion-datetime
    #appIonDateSpecify="appIonDateSpecify"
    appIonDateSpecify
    [popover]="popover"
    [multiple]="true"
    [firstDayOfWeek]="1"
    presentation="date"
    mode="ios"
  ></ion-datetime>

  <ion-buttons class="vote-calendar-actions" mode="ios">
    <ion-button color="danger" (click)="onResetChanges()"> Reset </ion-button>
    <ion-button color="primary" (click)="onSaveChanges(appIonDateSpecify.voteDates)"> Save </ion-button>
  </ion-buttons>
</div>

<ion-popover #popover mode="ios" side="top" alignment="center" [arrow]="true">
  <ng-template>
    <div class="popover-content">
      <ion-button #readyButton size="small" color="primary" (click)="popover.dismiss({ ready: true })">
        <ion-icon name="checkmark-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button #maybeButton size="small" color="warning" (click)="popover.dismiss({ maybe: true })">
        <ion-icon name="help-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button #timeButton size="small" color="success" (click)="timeModal.present()">
        <ion-icon name="time-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </div>
  </ng-template>
</ion-popover>

<ion-modal #timeModal [initialBreakpoint]="1" [breakpoints]="[0, 1]">
  <ng-template>
    <div class="time-modal-content">
      <div class="time-pickers">
        <div class="pick">
          <ion-label> Start Time </ion-label>
          <ion-datetime #startTime presentation="time" mode="ios" [value]="nowDate"></ion-datetime>
        </div>
        <div class="pick">
          <ion-label> End Time </ion-label>
          <ion-datetime #endTime presentation="time" mode="ios" [value]="nowDate"></ion-datetime>
        </div>
      </div>
      <ion-button
        mode="ios"
        [disabled]="!isStartLessThanEnd(startTime.value, endTime.value)"
        (click)="timeModal.dismiss(); popover.dismiss({ time: true, start: startTime.value, end: endTime.value })"
      > Select Time </ion-button>
    </div>
  </ng-template>
</ion-modal>