ion-accordion-group {
  border-radius: 0.5rem;
}

ion-list {
  margin-top: 0.5rem;
  background: transparent;
}
ion-item {
  --background: transparent;
  &.header-item {
    border-radius: 0.5rem;
    --padding-start: 0.5rem;
    --padding-end: 0;
    --min-height: 3.7rem;
    ion-avatar {
      width: 2.75rem !important;
      height: 2.75rem !important;
    }
  }
  &.notes-item {
    ion-label {
      margin-bottom: auto;
    }
    ion-note {
      padding: 0.5rem 0;
      margin-left: max(20%, 2.5rem);
      text-align: end;
    }
  }
}

app-avatars-list {
  opacity: 0.9;
}

ion-modal {
  --height: auto;
  app-users-list {
    height: 60vh;
    padding: 1rem;
  }
}
