
  <ion-accordion-group mode="ios">
    <ion-accordion value="info" toggleIcon="chevron-forward-outline">
      <ion-item slot="header" class="header-item">
        <ion-avatar slot="start">
          <img alt="t" src="https://sun9-70.userapi.com/s/v1/ig1/6TXRo0SjdKeh-P-doF7uu2odkqlfbLP3oi7I1PMZE8L5qXpFD-rwjnL8ZgtdjKtvSoxm9Q.jpg?quality=96&as=32x32,48x48,72x72,108x108,160x160,240x240,360x360,480x479,540x539,640x639,720x719,939x938&from=bu&cs=939x0" />
        </ion-avatar>
        <ion-label> When to drink beer event </ion-label>
      </ion-item>

      <ion-list slot="content" mode="ios">
        <ion-item button [detail]="false" (click)="usersModal.present()">
          <ion-label> 6 member(s) </ion-label>
          <app-avatars-list></app-avatars-list>
        </ion-item>
        <ion-item>
          <ion-label> Created by </ion-label>
          <ion-note> Vyacheslav Litvinenko </ion-note>
        </ion-item>

        <ion-item>
          <ion-label> Starts</ion-label>
          <ion-note> {{ now | date : 'dd.mm.yyyy'}} </ion-note>
        </ion-item>
        <ion-item>
          <ion-label> Ends </ion-label>
          <ion-note> {{ now | date : 'dd.mm.yyyy'}} </ion-note>
        </ion-item>
        <ion-item class="notes-item" lines="none">
          <ion-label> Notes </ion-label>
          <ion-note>
            Join us for a fun evening of cold beers, great chats, and good vibes at pub.
            Let's unwind, laugh, and enjoy the night together!
          </ion-note>
        </ion-item>
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>

  <ion-modal
    #usersModal
    [initialBreakpoint]="0.25"
    [breakpoints]="[0, 0.25, 0.5, 0.75, 1]"
  >
    <ng-template>
      <app-users-list></app-users-list>
    </ng-template>
  </ion-modal>

